<!-- Banner -->
<section id="banner">
	<header>
		<h2>Hi. You're looking at <strong>{{appName}}</strong>.</h2>
		<p></p>
	</header>
</section>

<!-- Carousel -->
<section class="carousel">
	<div class="reel">
	{{#if tweets}}
		<article>
			<a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Pulvinar sagittis congue</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic02.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Fermentum sagittis proin</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic03.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Sed quis rhoncus placerat</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic04.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Ultrices urna sit lobortis</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic05.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Varius magnis sollicitudin</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Pulvinar sagittis congue</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic02.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Fermentum sagittis proin</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>

		<article>
			<a href="#" class="image featured"><img src="/images/pic03.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Sed quis rhoncus placerat</a></h3>
			</header>
			<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
		</article>
	{{/if}}
	</div>
</section>